@import "../_/imports";

.auth__page {
  background-color: $whity;
  height: 100vh;
  overflow: hidden;
  @extend .center;

  .auth__card {
    width: 500px;
    min-height: 100px;
    background-color: $white;
    padding: 1rem;
    border-radius: 3px;
    @extend .box__shadow;

    .auth__card__topbar {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;

        .action {
          @extend .button__icon;
          @extend .center;
          cursor: pointer;
        }
      }
    }

    .card__name {
      font-size: 1.8rem;
    }

    .o__auth {
      padding: 1rem;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.3s ease-out;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }

    .switcher {
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: blue;
      text-decoration: none;

      &::after,
      &::before {
        content: "";
        background-color: $black;
        height: 2px;
        width: 100px;
      }
    }
  }
}
