@import "../_/imports";

$sectionsHeight: calc(100vh - $header__height);

.main__page {
  display: grid;
  grid-template-columns: 30% 45% 25%;
  background-color: $whity;
  width: 100%;

  &,
  & > * {
    min-height: $sectionsHeight;
  }

  & > * {
    padding: 2rem 1rem;
  }
}

#feed {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;
  padding-inline: 3rem;

  .feed {
    width: 100%;
    min-height: 300px;
    background-color: $white;
    border-radius: 4px;
    overflow: hidden;

    @extend .box__shadow;

    .images {
      max-width: 100%;
      position: relative;
      min-height: 150px;

      &.many {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        img {
          display: none;
        }

        img:nth-of-type(1),
        img:nth-of-type(2) {
          display: block;
        }
      }
    }

    .feed__card__top {
      padding: 0.5rem 0.8rem;
      .user__and__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .profile {
          @extend .user__profile;

          .about__feed {
            display: flex;
            align-items: flex-start;
            gap: 0.2rem;
            flex-direction: column;

            .date {
              font-size: .7rem;
            }
          }
        }

        .actions {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 0.6rem;

          .action {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.08s ease-in;

            @extend .center;

            &:hover {
              background-color: $black;
              svg {
                stroke: #fff;
              }
            }
          }
        }
      }
    }

    .feed__description {
      padding: 1rem 0.5rem;
      font-size: 0.9rem;

      p {
        @include clamp($lines:3);
      }
    }

    .bottom {
      padding: 0.5rem 1rem;

      .stats {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .emoji {
          font-size: 1.4rem;
        }

        .counters {
          font-size: 0.9rem;
        }
      }

      .user__actions__on__feed {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 0.5rem;

        .action {
          width: fit-content;
          padding: 0.5rem 0.8rem;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.4rem;
          cursor: pointer;
          transition: 0.3s ease-out;

          &:hover {
            background-color: $black;
            color: $white;
            svg {
              stroke: $white;
            }
          }
        }
      }

      .comments {
        padding: 0 1rem;
        font-size: 0.9rem;
        height: 0;
        transition: 0.4s ease-in;
        overflow: hidden;

        &.expand {
          height: 100%;
          padding-block: 1rem;
        }

        .timeline {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          gap: 1rem;
          position: relative;

          &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: $whity;
            width: 5px;
            border-radius: 20px;
          }

          .container {
            padding: 0.5rem 1rem;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            gap: 0.6rem;
            min-height: 100px;

            &::before {
              content: "";
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: $black;
              left: -7.5px;
              top: 20%;
              position: absolute;
              z-index: 2;
            }
          }

          .card {
            width: 100%;
            height: 100%;
            padding: 0 1rem;
            border-radius: 4px;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 0.5rem;
            justify-content: flex-start;

            .profile {
              @extend .user__profile;
            }

            .top {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 1rem;

              .actions {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 0.4rem;
              }

              .action {
                background-color: transparent;
                cursor: pointer;
                @extend .center;
              }
            }

            .card__bottom {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 1rem;

              .actions {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 0.5rem;

                .action {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  gap: 0.3rem;
                  padding: 0.2rem 0.7rem;
                  border-radius: 20px;
                  cursor: pointer;
                  transition: 0.3s ease-out;

                  .icon {
                    @extend .center;
                  }

                  &:hover {
                    background-color: $black;
                    color: $white;
                    svg {
                      stroke: $white;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.left__sidebar {
  .contained {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 0.8rem;

    position: sticky;
    top: 2rem;
  }

  .filter__and__search {
    background-color: $white;
    @extend .box__shadow;
    padding: 1rem;
    border-radius: 4px;

    .contain__input {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: 2px solid $black;
      border-radius: 3px;
      overflow: hidden;

      input {
        width: 100%;
      }

      input,
      button {
        padding: 0.3rem 0.5rem;
        background-color: transparent;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.8rem;
      padding: 0.5rem;

      .action {
        padding: 0.5rem;
        border-radius: 3px;
        font-size: 0.8rem;
        background-color: $black;
        border: 2px solid $black;
        color: $white;
        cursor: pointer;
        transition: 0.2s ease-out;

        &:hover {
          background-color: transparent;
          color: $black;
        }
      }
    }
  }

  .gen__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;

    .action {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      @extend .center;
      @extend .box__shadow;
      cursor: pointer;

      background-color: $black;
    }
  }
}

.right__sidebar {
  .contained {
    position: sticky;
    top: 2rem;
  }
}

// MEDIA QUERIES
@media only all and (max-width: 1300px) {
  #feed {
    padding-inline: 1rem;
  }
}

@media only all and (max-width: 1200px) {
  .right__sidebar {
    display: none;
  }

  .main__page {
    grid-template-columns: 40% 60%;
  }
}

@media only all and (max-width: 900px) {
  .left__sidebar {
    display: none;
  }

  .main__page {
    grid-template-columns: auto;
  }

  #feed {
    width: 70%;
    margin: auto;
  }

  .main__header {
    display: flex;
  }
}

@media only all and (max-width: 800px) {
  #feed {
    width: 80%;
  }
}

@media only all and (max-width: 700px) {
  #feed {
    width: 90%;
  }
}

@media only all and (max-width: 600px) {
  #feed {
    width: 100%;
  }

  #feed .feed {
    .bottom {
      .comments {
        padding-right: 0;
        .timeline {
          .container {
            padding-right: 0;
          }

          .card .card__bottom .actions .action .icon__text {
            display: none;
          }
        }
      }

      .user__actions__on__feed .action {
        font-size: 0.75rem;
        padding: 0.2rem 0.3rem;
        svg {
          height: 18px;
        }
      }
    }

    .feed__card__top .user__and__actions .actions .action {
      height: 25px;
      width: 25px;

      svg {
        height: 18px;
      }
    }
  }
}
