@import "./_/imports";

* {
  font-family: "Geist Mono", monospace, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

img {
  object-fit: cover;
  object-position: center;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

html {
  scroll-behavior: smooth;
}

#root,
.App,
body {
  min-height: 100vh;
  width: 100%;
  background-color: $whity;
}

.main__header {
  height: $header__height;
  width: 100%;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 3;

  display: none;

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  .header__btn {
    @extend .center;
    height: 30px;
    width: 30px;
    border: $white 1px solid;
    border-radius: 50%;
    text-decoration: none;
    color: $white;
    transition: 0.3s ease-out;
    gap: 0.4rem;

    &:hover {
      background-color: $white;
      color: $black;
    }

    .icon {
      @extend .center;
    }
  }
}

.loader-container {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
}

.loader {
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.cell {
  padding: 0.2rem 0.4rem;
  border-radius: 20px;
  background-color: rgba($color: blue, $alpha: 0.1);
  color: blue;
}

// html:has(.modal__panel.show) {
//   overflow: hidden;
// }

.modal__panel {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgba($color: #000000, $alpha: 0.7);
  @extend .center;
  transition: 0.1s ease-out;
  opacity: 0;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: all;
  }
}

.modal__card {
  min-height: 200px;
  width: 40%;
  background-color: $white;
  border-radius: 4px;

  .modal__card__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;
    }

    .action {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      @extend .center;
      cursor: pointer;
    }
  }
}

.page__404 {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: $white;
  color: $black;
  @extend .center;

  .card {
    width: 400px;
    height: 500px;
    padding: 1rem;

    & > * {
      margin-bottom: 0.6rem;
    }
  }

  .link {
    background-color: $black;
    padding: 0.5rem;
    color: $white;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
  }
}

#new__post__form {
  min-height: 100px;
  width: 100%;
  background-color: $white;
  padding: 1rem;
  border-radius: 4px;
  @extend .box__shadow;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrap__input {
    font-size: 0.8rem;
    padding-block: 1rem;
    textarea {
      width: 100%;
      border-radius: 3px;
      padding: 1rem;
      border: 2px solid $black;
      margin-top: 0.5rem;
      resize: none;
      min-height: 150px;
    }
  }

  .select__medias {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    button {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      @extend .center;
      cursor: pointer;
      transition: 0.2s ease-in;

      &:hover {
        background-color: $black;
        svg {
          stroke: $white;
        }
      }
    }
  }

  .chosen__medias {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-block: 1rem;
    display: none;

    &.chosen__medias__exist {
      display: grid;
    }

    .media__container {
      position: relative;
      min-height: 109px;

      .loader__layer {
        height: 100%;
        width: 100%;
        @extend .center;
        background-color: $black;
      }

      .blur {
        position: absolute;
        inset: 0;
        background-color: rgba($color: #000000, $alpha: 0.2);
        backdrop-filter: blur(1px);
        opacity: 0;
        pointer-events: none;

        &.trigger {
          opacity: 1;
          pointer-events: all;
        }

        &:has(.text) {
          @extend .center;
          font-weight: bold;
          background-color: rgba($color: #000000, $alpha: 0.5);
          color: $white;
          backdrop-filter: blur(2px);
        }

        .remove__media {
          background-color: transparent;
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
          cursor: pointer;
        }

        &.show {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  .post__a__feed {
    @extend .button__text__and__icon;
  }

  .submitters {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
}

.list__settings {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1rem 2rem 2rem;

  .setting {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    font-size: 0.8rem;
  }
}

// MOBILE PAGES SUB TOPBAR
.mobile__pages__sub__topbar {
  min-height: 60px;
  width: 40%;
  background-color: $white;
  border-radius: 3px;
  @extend .box__shadow;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .action {
    @extend .button__icon;
  }
}

.list__notifications {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  justify-content: flex-start;
  list-style-type: none;

  li {
    display: block;
    border-radius: 3px;
    background-color: $white;
    @extend .box__shadow;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;

    .icon {
      @extend .center;
      cursor: pointer;
      background-color: transparent;
    }
  }

  .simple__notif {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user__name {
      font-weight: bold;
    }
  }

  .new__post__notif {
    .notif__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.6rem;
      .actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.6rem;
      }
    }

    .image {
      padding-block: 0.5rem;
      overflow: hidden;
      height: 150px;

      img {
        width: 100%;
        height: 100%;
        object-position: center;
      }
    }

    // Clamp the text only if there is an image
    &:has(.image) .description {
      p {
        @include clamp($lines: 2);
      }
    }

    // Crop the image only if there is a description text
    &:has(.description) .image {
      height: 100px;
    }
  }
}

.form__container {
  .error__on__input {
    font-size: 0.75rem;
    color: red;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    justify-content: flex-start;
    padding: 1rem;
  }

  .wrap__input {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    input {
      border: 2px solid $black;
      padding: 0.5rem;
      width: 100%;
      border-radius: 3px;
    }
  }

  .submit__button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 3px;
    background-color: $black;
    color: $white;
    cursor: pointer;
    border: 2px solid $black;
    transition: 0.3s ease-out;

    &:hover {
      background-color: transparent;
      color: $black;
    }
  }
}
